.contact {
    text-align: center;
    display: inline-block;
  }
  
  .contact-text {
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .contact-list {
    list-style: none;
    text-align: left;
    text-indent: 2px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
