.introduction {
    text-align: center;
    display: inline-block;
  }
  
  .introduction-text {
    margin-bottom: 0;
    font-weight: 150;
    text-transform: uppercase;
    letter-spacing: 2px;
  }