.project-heading {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
  
@media (max-width: 900px) {
  .column {
    flex: none;
    width: 100%;
    min-width: none;
    max-width: none;
    margin: 20px 0px;
  }
}
  